In [1]:
# !pip install Faker

In [2]:
#The code below will return a fake name, address, and text randomly

from faker import Faker
fake = Faker()
print(fake.name())
print(fake.address())
print(fake.text())

Marvin Cox
PSC 1940, Box 0385
APO AE 88316
Draw age movement follow share worry. Great everything pretty direction big issue we. Hair official car walk reality goal friend. Physical American option anyone.

In [3]:
from faker import Faker
fake = Faker()
print(fake.name())
print(fake.address())
print(fake.text())

Joshua Holt
0622 Melissa Extensions
Heidiberg, NE 54437
Term bed avoid information child teach. View born appear tend evidence. Summer for example.
Cost perhaps ball add. But station less letter. Difference now rather recent end old agency where.

In [4]:
# The Faker().profile() method returns fake data about job profiles containing 13 columns.
# So below is how you can create a dummy dataset using Python

from faker import Faker
import pandas as pd

fake = Faker()
data = [fake.profile() for i in range(50)]
data = pd.DataFrame(data)
print(data.head())

                                     job                     company  \
0               Surveyor, rural practice                  Hays Group
1              Higher education lecturer               Hanson-Prince
2                         Retail manager                  Carter PLC
3                    Magazine journalist  Navarro, Turner and Bryant
4  Senior tax professional/tax inspector  Myers, Jefferson and Brown

           ssn                                          residence  \
0  630-05-1151  14648 Shepard Vista Apt. 937\nAbigailview, AR ...
1  250-29-7466        80332 Steven Flat\nJacquelineview, DE 69949
2  478-08-9767            8845 John Burgs\nNorth Edward, NJ 09890
3  618-96-2276  6823 Evan Inlet Apt. 413\nNorth Kenneth, MO 06354
4  830-18-1914  28696 Ashley Ville Suite 117\nLake Jane, OR 20148

            current_location blood_group  \
0  (-64.1459445, 106.293139)          B-
1     (81.825203, -3.532744)          O-
2   (74.2999875, 113.232527)          O-
3  (-50.064112, -112.566377)          B-
4   (-53.244550, -75.916955)          B+

                                             website       username  \
0  [http://davis.info/, http://www.king.info/, ht...     smithjimmy
1      [https://www.brown.com/, https://stokes.com/]     justinhall
2  [https://thomas-brock.com/, https://juarez.com...   jermaineking
3                         [https://li-franklin.com/]   bryanpatrick
4                             [https://alvarez.com/]  laurenedwards

                    name sex  \
0         Travis Maynard   M
1           Bailey Adams   F
2            Jenna Brown   F
3  Michael Rodriguez DVM   M
4         Daniel Baldwin   M

                                             address  \
0   085 White Points Suite 999\nDanielbury, ME 95223
1            72791 Reese Roads\nAshleyfort, AL 59288
2   03015 Mark Rapids Apt. 589\nNew Justin, NY 92359
3  738 Stephen Mills Suite 367\nSouth Matthewside...
4  37642 Vicki Grove Apt. 249\nPort Williambury, ...

                          mail   birthdate
0         jacobsglen@gmail.com  1997-02-22
1          michael38@gmail.com  1955-05-17
2           andrea82@yahoo.com  1911-10-09
3  williamsmackenzie@yahoo.com  1946-08-06
4        fisherkaren@gmail.com  1918-09-04

In [5]:
import dtale

dtale.show(data)

In [6]:
# dtale.show(data).open_browser()

In [7]:
#Print 10 fake names

for _ in range(10):
  print(fake.name())

Amanda Porter
Darlene Le
Erin Lowe
Emily Black
Cheryl Little
Anthony Thomas
Mary Saunders
Vincent Vance
Matthew Rivera
Kathleen Barr

In [8]:
from faker import Faker
fake = Faker('it_IT')
for _ in range(10):
    print(fake.name())

Melissa Scalfaro
Antonietta Parmitano
Raffaellino Rinaldi
Dott. Marcello Comboni
Severino Carpaccio
Raffaella Turchetta
Gino Babati-Vitturi
Lamberto Squarcione
Sig.ra Ida Rossellini
Leopoldo Ammaniti